<div class="container">
    <div class="jumbotron text-center">
        <h1>Crossoff: Smartsheet To-Dos</h1>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div ng-show="vm.isLoading"><img src="img/spinner.gif"/></div>
            <div class="checkbox" ng-repeat="item in vm.tasks">
                <label>
                    <input type="checkbox" 
                        ng-click="vm.updateTask(item.task)" 
                        ng-model="item.task.isDone" /> 
                    {{ item.task.value }}
                </label>
            </div>
        </div>
    </div>
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" 
                        class="form-control input-lg text-center" 
                        ng-model="vm.formData.text" 
                        placeholder="Add new to-do" />
                </div>
                <button type="submit" 
                    class="btn btn-primary btn-lg" 
                    ng-click="vm.createTask()">Add</button>
            </form>
        </div>
    </div>
</div>